<h1 style="color:crimson; text-align: center;">Mensajeria</h1>

<form>
    <input id="username" type="text" name="nombre" placeholder="Tu correo">
    <input id="text" type="text" name="texto" placeholder="Cuentanos algo...">
    <button onclick="return addMessage()" class="btn btn-success mt-3 mb-4">Enviar Menaje</button>
</form>