<%- include('./cabecera')-%>
<body>
    <header>
        <nav>
            <a href="http://localhost:8080/register">Crear Cuenta |</a>                            
            <a href="http://localhost:8080/login">Iniciar Sesion |</a>                        
        </nav>
        <img src="" alt="">                   
    </header> 
    <div id="product"></div>  
    <script src="/main.js"></script> 
</body>