<h2 style="color: crimson">Historial</h2>

<div class="col-12">
    <div class="table table-dark">
        <div class="row" style="border-bottom: 1px solid white">
            <div class="col-4" style="color: blue; font-size: 20px">Nombre</div>
            <div class="col-4" style="color: blue; font-size: 20px">Precio</div>
            <div class="col-4" style="color: blue; font-size: 20px">Imagen</div>
        </div>
        <div class="row" id="products"></div>
    </div>
</div>
